HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
/local

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/localPrometeusGrafana/prometheus/
/localPrometeusGrafana/grafana/
/fluent-bit/logs/spring-boot-current.log

## Local application artefacts
**/resources/**/local/**
**/resources/**/*[-_.]local/**
**/resources/**/*[-_.]local.*